name: update indirect dependencies

on:
  schedule:
    - cron: "15 9 * * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: create-github-app-token
        with:
          app-id: ${{ vars.CYSPBOT_APP_ID }}
          private-key: ${{ secrets.CYSPBOT_PRIVATE_KEY }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
          cache: true
      - name: update indirect dependencies
        run: for x in `go list -f '{{if .Indirect}}{{.Path}}{{end}}' -m all`; do go get -u "$x"; done || true
      - name: go mod tidy
        run: go mod tidy -v
      - name: create pull request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ steps.create-github-app-token.outputs.token }}
          commit-message: "chore(deps): bump indirect dependencies"
          title: "chore(deps): bump indirect dependencies"
          branch: "github-action-update-indirect-dependencies"
          body: ''
          sign-commits: true
